
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

<div class="container text-center">


    <h1>your password is:</h1>
    <h2 class="alert alert-success">{{ password }}</h2>


    <br>
 
    <a href="{% url 'password' %} "class="btn btn-secondary" >New Password</a>


    <br>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

    <form action="">
        <input name="lenght" value="{{ lenght }}" hidden>
        <input name="uppercase" hidden>
        <input type="submit" value="PRdel">
        </form>
</div>